
body {
    min-height: 100vh;
    margin: 0;
    background-image: url(https://img.freepik.com/vector-premium/fondo-espacio-colorido-planetas-cometas-galaxias-estrellas-estilo-dibujos-animados_560029-56.jpg?w=740);
    background-size: cover;
    background-position: center;
    color: white;
    font-family: monospace;
    display: flex;
    align-items: center;
    justify-content: center ;
    
}

main {
    max-width: 320px;
    padding: 16px;
    margin: 16 px;
    backdrop-filter: blur(32px);
    box-shadow: 0 0 16px rgba(255, 255, 255, 0.5);
    border border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px;

}
img {
    display: block;
    border-radius: 50%;
}

h1,h2,p {
    margin: 0;
}
h1 {
    font-size: 20px;
}
h2{
    font-size: 14px;
}
h2, spam{
    font-weight: 400;
    color: #ccc;
}

p {
    font-size: 12px;
}  
ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 16px;
}

li.skill {
    background-color: #087ea4;
    padding: 4px 16px;
    border-radius: 16px;

}

a{
    font-size: 20px;
    color: white;
}  
